useDynLib(gislkit)
export(
	loadExpr,		#
	loadClin,		#
	getMI,			#
	getMI3,		#
	getAllMIWz,		#
	equalci,		#
	exactci,		#
	bac,			#
	findThreshold,	#
	fitTime,		#
	fitTimeRank,	#
	mapScore,		#
	cv.svm,			#
	cv.cox,			#
	cv.gbm,			#
	direction.correction,	#
	fs,				#
	csvmatrix.read,	#
	biotab.read,	#
	getGeneSymbols, #
	attractorList.create,	#
	meta.create, #
	impute.median, #
	FeatureSelect, #
	batchFeatureSelect, #
	summarizeFeatureSelect, #
	coefOptimize, #
	importTCGA,	#
	importRPKM,	#
	importMAF, #
	importTCGAclnc, #
	importTCGASurv, #
	convertUUID2barcode, #
	plot3d, #
	save3d, #
	topfeat, #
	eva, #
	permutation.test.diff, #
	matrix.shuffle, #
	nmf
)
