useDynLib(gislkit)
export(
	loadExpr,		#
	loadClin,		#
	getMI,			#
	getAllMIWz,		#
	equalci,		#
	exactci,		#
	bac,			#
	findThreshold,	#
	fitTime,		#
	fitTimeRank,	#
	mapScore,		#
	cv.svm,			#
	cv.cox,			#
	cv.cox.equal,	#
	cv.gbm,			#
	direction.correction,	#
	fs,				#
	csvmatrix.read,	#
	biotab.read,	#
	getGeneSymbols, #
	attractorList.create,	#
	meta.create
)
